.navbar {
    height: 70px;
    width: 100%;
    background-color: #fff;
    color: #000;
    border-bottom: 2px solid rgba(30, 28, 28, 0.633);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1020;
    margin-bottom: 10px;
}

.logoDiv {
    flex: 0.5;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
}
.logo{
    font-family: 'Satisfy','BIZ UDGothic', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    width: 162px;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    background: linear-gradient(to bottom right, #be25ebb3 30%, #f8f80b78 50%, #f37609c9 66%);
    clip-path: polygon(13% 15%, 89% 13%, 89% 76%, 76% 76%, 76% 98%, 64% 77%, 13% 78%);
    align-items: center;
    justify-content: center;
}
/* .logo::before{
    content: "";
    background: linear-gradient(to bottom right, #ea0ea1bc 30%, #f8f80b 50%, #f37609d0 70%);
    filter: blur(10px);
    position: absolute;
    left: 0;
    height: 80%;
    width: 90%;
    z-index: 0;
} */
.navLinks{
    flex: 0.5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 30px;
    box-sizing: border-box;
}
.navLink{
    font-weight: 600;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.1s ease;
    color: #000;
    text-decoration: none;
}
.navLink:hover{
    color: rgb(43, 43, 43);
    transform: scale(0.9);
}